/* 
	Resets defualt browser settings
	reset.css
*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td { margin:0; padding:0; border:0; outline:0; font-weight:inherit; font-style:inherit; font-size:100%; font-family:inherit; vertical-align:baseline; }
:focus { outline:0; }
a:active { outline:none; }
body { line-height:1; color:black; background:white; }
ol,ul { list-style:none; }
table { border-collapse:separate; border-spacing:0; }
caption,th,td { text-align:left; font-weight:normal; }
blockquote:before,blockquote:after,q:before,q:after { content:""; }
blockquote,q { quotes:"" ""; }

/*
	Page style
*/
body { 
	font-family: trebuchet ms, tahoma, verdana Helvetica, Arial, sans-serif;
	letter-spacing:0;
	color:#434343;
	background-color:#1c1c1c;
	position:relative;
	-webkit-font-smoothing: subpixel-antialiased;
}
a:link,a:visited { color:#599100; text-decoration:none; }
a:hover,a:active { color:#599100; text-decoration:none; }
h2 { font-size: 150%; font-weight: bold; margin-bottom: 10px; color: #fff; }   
strong {color:#0d9ce0; font-weight:normal;}
.popout {
    color: #04b404;
    font-size: 150%;
    font-weight: bold;
}

/* 
	Navigation Bar
*/



/* 
	Banner
*/

#banner {width:1000px; margin-left:-500px; left:50%; margin-top:100px; position: fixed;}

#banner article {
	font-family: Arial;
	font-size:28px;
	color:#fff;
	opacity:1;
	position:relative;
	top:160px;
	right:-550px;
	text-align:left;
	width:425px;
}
#banner article b {color:#4591d6; font-weight:bold;}
#banner article br {margin-bottom:25px;}
#banner article a {
	border-radius:10px;
	background-color:#4591d6;
	color:#fff;
	text-shadow:1px 1px 1px #066ad0;
	font-size:25px;
	text-decoration:none;
	padding:25px 25px 20px 25px;
}

#banner article a:hover {box-shadow: 0 0 1px #000; background-color:#0c88c2}


#bannershow {
	margin:0;
	padding:0;
	position:relative;
}

#bannershow ul {
	position:relative;
	overflow:hidden;
	margin:0;
	padding:0;
}

#bannershow ul li {
	position:absolute;
	top:0;
	left:0;
	margin:0;
	padding:0;
	list-style:none;
}

.caption {
	display:yes;
}

#latest {
	width:1000px;
	margin-left:-500px;
	left:50%;
	position:relative;
}

#latest article {
	font-family: Arial;
	font-size:15px;
	color:#fff;
	opacity:0.8;
	position:relative;
	top:168px;
	right:-10px;
	text-align:justify;
	width:400px;
}

/*
	Slideshow
*/

#slides table {
    margin: 0 auto;
}

#slides table td {
    vertical-align: middle;
}

#container {
    width: 920px;
    margin: 0 auto;
}

/*
	Slides container
	Important:
	Set the width of your slides container
	Set to display none, prevents content flash
*/

.slides_container {
	width:570px;
    height: 100px;
	overflow:hidden;
	position:relative;
	display:none;
}

.slides_control {
    margin: 10px 0;
}

/*
	Each slide
	Important:
	Set the width of your slides
	If height not specified height will be set by the slide content
	Set to display block
*/

.slides_container div.slide {
	width:570px;
	height:100px;
	display:block;
}

.slides_control {
    margin: 15px 0;
}


/*
	Next/prev buttons
*/

#slides .next,#slides .prev {
	display:block;
}

/*
	Pagination
*/

.pagination {
	margin: 5px auto 0;
	margin-left: 350px;
}
.pagination li {
	float:left;
	margin:0 4.35px;
	list-style:none;
}
.pagination li a {
	display:block;
	width:12px;
	height:0;
	padding-top:12px;
	background-image:url(../img/pagination.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
}
.pagination li.current a {
	background-position:0 -12px;
}

/* Other stuff */

.padder {
    line-height: 150%;
    box-sizing: border-box;
    padding: 0px;
	background-color:none;
    border-radius: 15px;
	margin-top: 5px;
    margin-bottom: 5px;
    color: #fff;
        
}

.padder-mini {
    box-sizing: border-box;
    padding: 15px;
	background-color:#0d91ce;
    border-radius: 10px;
    margin-bottom: 20px;
    color: #fff;
    box-shadow: 0 0 5px 1px #151515;
    background:-webkit-gradient(linear, left top, left bottom, from(#0d9ce0), to(#1385ba));
}

.padder {
    width: 100%;
}

.padder-mini {
    width: 25%;
	position: relative;
    float: right;
    margin-top: -10px;
	
}

.splitter {
	position: fixed;
	margin-left:355px;
	top: 640px;

}

.index-mini {
    box-sizing: border-box;
    padding: 15px;
	background-color:#0d91ce;
    border-radius: 20px;
    color: #fff;
    box-shadow: 0 0 5px 1px #151515;
    background:-webkit-gradient(linear, left top, left bottom, from(#0d9ce0), to(#1385ba));
    width: 90%;

}


#searchbars {
    font-weight: bold;
    margin-right: auto;
    margin-left: auto;
}

#searchbars input[type="text"] {
    width: 100%;
}

#results {
    clear: both;
    line-height: 150%;
}

.searchresult-inner {
    color: #444;
    box-sizing: border-box;
    padding: 5px 10px 0;
	background-color: #eee;
    width: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#dddddd));
    margin-bottom: 1px;
}

.searchresult-inner:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#fdffbc), to(#fdffbc));
}

.caption {
	display:yes;
}

#content {
	width:920px;
	position:absolute;
	margin-left:135px;
	margin-right:200px;
}

.logo {
	color:#fff;
	height:70px;
	background-color:none;
	opacity:none;
	padding-top:20px;
}

.logo h1{
	width:217px;
	height:65px;
	font-size:75%;
	padding-left:210px;
	padding-top:47px;
	background-image:url(../img/cj_logo.png);
	background-repeat:no-repeat;
}

.logo a {
    color: #fff;
}


.logo b {
	position:absolute;
	opacity: 0.8;
	margin-top:-76px;
	margin-left:800px;
	}
	
.logo b .one {font-size:24px; color:#fff; padding-left:25px;}
.logo b .rest {font-size:20px; color:#fff; letter-spacing:0.1em;}

#footer {
	position: fixed;
	top: 850px;
	left: 600px;
	
}	